* {
  margin: 0px;
  padding: 0px;
}

.container1 {
  margin-top: 10px;
  margin-left: 80px;
  margin-right: 80px;
  font-family: "Arial";
  background-color: #fff;
  color: #333;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: #fff;
}

.navbar .logo {
  font-size: 24px;
  font-weight: bold;
}

.navbar nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: 600;
}

.nav-icons input {
  padding: 5px;
}

.login,
.register{
  margin-left: 10px;
  text-decoration: none;
  padding: 6px 12px;
  border-radius: 4px;
  color: #048857;
  font-weight: 600;
}

.register {
  padding: 10px 15px;
  background: #09b451;
  color: #fff;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  background: #f5faff;
  border-radius: 100px;
  margin-top: 20px;
}

.hero-text h1 {
  font-weight: bold;
  font-size: 40px;
  line-height: 70px;
  letter-spacing: 0%;
}

span {
  color: #1ba94c;
  font-weight: 600;
}

.cta {
  margin-top: 20px;
  padding: 10px 20px;
  background: #00c897;
  color: white;
  border: none;
  border-radius: 5px;
}

.features {
  margin-top: 20px;
}

.features span {
  background: #e0f7f4;
  padding: 5px 10px;
  border-radius: 12px;
  margin-right: 10px;
  font-size: 14px;
}

.hero-image {
  top: 9px;
  left: 170px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 100px;
  border-bottom-left-radius: 40px;
}

.student {
  height: 350px;
  width: 300px;
}

.hero-image img {
  border-radius: 20px;
}

.im {
  border-radius: 10px;
  border-width: 3px;
  position: absolute;
  background: white;
  padding: 10px;
  border-radius: 5px;
  font-size: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.instructors-badge,
.badge {
  position: absolute;
  background: #fff;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  font-weight: 400;
}

.instructors-badge {
  position: absolute;
  height: auto;
  width: 190px;
  border-bottom-right-radius: 20px;
  top: 300px;
  left: 820px;
  line-height: 20px;
  font-weight: 700;
}

.instructors-badge p {
  margin: 0;
  font-size: 14px;
  color: #2c3e50;
}

.badge {
  align-items: center;
  height: 100px;
  top: 370px;
  left: 1130px;
  font-weight: 500;
  bottom: 10px;
  right: 65px;
  color: black;
}

.ft {
  margin-top: 10px;
  display: flex;
}

.ft img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid white;
  margin-right: -20px;
}

.para {
  width: 30;
  height: 30;
  top: 15px;
  left: 49px;
  border-radius: 30px;
}

.bx {
  display: flex;
  justify-content: space-between;
  padding: 50px 50px;
  background-color: #ffffff;
  border-top: 1px solid #eee;
  flex-wrap: wrap;
  align-items: center;
}

.box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.mr {
  padding-top: 3px;
  padding-left: 10px;
}

.content {
  display: flex;
  justify-content: space-between;
  background: #fff;
  flex-wrap: wrap;
}

.live{
  background-color: #fff;
  padding-top: 80px;
  padding-bottom: 30px;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
}

.content h2 {
  font-family: Arial;
  display: flex;
  font-size: 22px;
  margin-bottom: 20px;
  font-weight: 600;
}

.car {
  padding-top: 20px;
}

.cav {
  display: flex;
  font-weight: 200;
  display: flex;
  justify-content: space-between;
}

.bacf {
  border-style: none;
}

.cards {
  display: flex;
  gap: 50px;
  justify-content: space-between;
}

.space {
  display: flex;
  flex: auto;
}

.card {
  overflow: hidden;
  text-align: center;
  width: 23.5%;
}

.card .cards {
  justify-content: space-between;
}

.card img {
  justify-content: space-between;
  width: 100%;
  height: 140px;
  object-fit: cover;
  height: 300px;
}

.try{
  display: flex;
  padding-top: 10px;
  justify-content: space-between;
}

.try h2{
  text-transform: capitalize;
  font-family: Arial;
  font-size: large;
  font-weight: 600;
  padding-top: 10px;
}

.try image{
  
  height: auto;
  width: auto;
}

.six{
  font-weight: 600;
  font-size: medium;
}

.seven{
  font-size: x-large;
}

.candys {
  display: flex;
  flex: 1;
  flex: auto;
  justify-content: space-between; 
   flex-wrap: wrap;
   margin-left: 65px;
   margin-right: 65px;
   
}

.candy{
  padding-top: 6px;
  padding-bottom: 30px;
  box-shadow: 0px 0px 9px 0px #CBCBCB40;

}

.cands{
  display: flex;
  flex: auto;
  justify-content: space-between; 
   flex-wrap: wrap;
   margin-left: 65px;
   margin-right: 65px;
   
}

.crd{
  display: flex ;
  flex-wrap: wrap;
  position: absolute;
  color: white;
  padding-top: 265px;
  padding-left: 20px;
  box-shadow: 0px 0px 9px 0px #CBCBCB40;
}


.cart {
  position: relative;
  width: 300px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.student-img {
  width: 100%;
  height: auto;
  display: block;
}

.label {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: #fff;
  color: #00cc66;
  padding: 8px 10px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  font-size: 12px;
}

.label .icon {
  width: 20px;
  height: 20px;
  margin-right: 6px;
}

.label .tex{
  color: #00cc66;
  line-height: 1.2;
  font-size: 13px;
}


.job-cap {
  position: absolute;
  align-items: center;
  height: 100px;
  top: 370px;
  background-color: white;
  left: 1130px;
  font-weight: 500;
  bottom: 10px;
  right: 65px;
  color: black;
}

.jub{
text-align: center;
}

.buj{

}

.jub p{
  font-size: 20px;
  font-family: Arial;
  font-weight: 700;
  
}

.jub img{
  height: auto;
  width: 30px;
}


.hero-text h2 {
  padding-left: 200px;
  padding-bottom: 20px;
  display: flex;
  font-family: Arial;
  font-size: 28px;
  font: 600;
  margin: 15px 0;
  color: #222;
}

.hero-text h2 span {
  font-family: Arial;
  font-weight: bold;
}

.hero-text ul {
  padding-left: 200px;

  font-weight: 600;
  font-family: Arial;
  list-style: none;
}

.hero-text ul li {
  padding-bottom: 20px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.book{
  font-weight: 600;
  padding-left: 50px;
}

.bat{
  background-color: #ffffff;
  align-items: center;
  padding-left: 5px;
  font-weight: 600;
  right: 880px;
  top: 400px;
  color: black;
}

.reviews {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin-top: 60px;
}

.reviews h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.reviews span {
  color: #1ba94c;
  font-weight: bold;
}

.review-controls {
  margin: 10px 0;
}

.review-controls button {
  background: none;
  border: 2px solid #1ba94c;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  color: #1ba94c;
  font-size: 18px;
  cursor: pointer;
  margin: 0 5px;
}


.review-cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.cap {
  background: #ffffff;
  padding: 20px;
  border-radius: 12px;
  width: 250px;
  box-shadow: 0 0 10px rgba(0,0,0,0.05);
}

.cap h5 {
  font-size: 16px;
  color: #222;
}

.cap .role {
  color: #1ba94c;
  font-size: 14px;
  margin-bottom: 10px;
}

.card p {
  font-size: 13px;
  color: #555;
}

.cost{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.cost-image img {
  max-width: 350px;
  border-radius: 10px;
}

.cost text {
  max-width: 500px;
}

.cost text h1 {
  font-size: 28px;
  color: #fff;
  margin-bottom: 20px;
}

.cost text p {
  color: #ccc;
  margin-bottom: 20px;
}

.buttons {
  display: flex;
  gap: 10px;
}

.btn {
  padding: 10px 10px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}

.green {
  background-color: #00cc66;
  color: white;
}

.outline {
  background-color: transparent;
  border: 2px solid #00cc66;
  color: #00cc66;
}



.place,
.regis{
  margin-left: 10px;
  text-decoration: none;
  padding: 6px 12px;
  border-radius: 4px;
  color: #048857;
  font-weight: 600;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.regis{
  padding: 10px 15px;
  background: #09b451;
  color: #fff;
}

.place{
   padding: 10px 15px;
  background: #fff;
  color: #09b451;
}

footer {
  background-color: #000;
  padding: 40px 20px;
  font-family: Arial;
}

.contain{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
  margin-bottom: 30px;
}


.section h1{
  color: #ffffff;
  margin-bottom: 30px;
}

.section p{
  color: #ffffff;
  margin-bottom: 20px;
}

.section ul {
  list-style: none;
  padding: 0;
}

.section ul li {
  margin-bottom: 8px;
  color: #ffffff;
  padding-bottom: 10px;
}

.socials a {
  margin-right: 10px;
  color: #00cc66;
  text-decoration: none;
  font-size: 20px;
}

.subscribe-bar {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #333;
  padding-top: 20px;
}

.subscribe-bar p{
  font-size: x-large;
  font-weight: 600;
  color: #fff;
  padding-right: 20px;
  padding-bottom: 20px;
}

.bar input email{
  justify-content: center;
  width: 250px;
  border: none;
  
}

.bt{
  padding: 8px 10px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}

.green {
  background-color: #00cc66;
  color: white;
}

















@media only screen and (max-width: 1024px) {
  .instructors-badge {
    top: 270px;
    left: 500px;
  }

  .badge {
    top: 350px;
    left: 820px;
  }
}

@media only screen and (max-width: 768px) {
}
